<ul class="nav nav-tabs py-3 text-center">
    <li class="nav-item mx-3">
        <a class="nav-link text-primary fw-bold" href="/">Home</a>
    </li>

    <li class="nav-item">
        <a class="nav-link text-primary fw-bold" href="/login">Login</a>
    </li>



</ul>