<%- include("./partials/top.ejs") %>
    <section class="container mt-5">
        <%- include("./partials/navigation.ejs") %>
            <article class="row mt-5 index">
                <div class="col">
                    <img src="/images/school2.jpg" alt="" class="rounded">
                </div>
                <div class="col">
                    <h1 class="text-center">Johns Hopkins University</h1>
                    <h4 class="mt-3 text-decoration-underline">About us</h4>
                    <p class="mt-4">
                        That’s the question our university’s first president, Daniel Coit Gilman, asked at his
                        inauguration
                        in 1876. What is
                        this place all about, exactly? His answer:

                        “The encouragement of research . . . and the advancement of individual scholars, who by their
                        excellence will advance
                        the sciences they pursue, and the society where they dwell.”
                    </p>

                    <p>
                        Gilman believed that teaching and research go hand in hand—that success in one depends on
                        success in
                        the other—and that
                        a modern university must do both well. He also believed that sharing our knowledge and
                        discoveries
                        would help make the
                        world a better place.
                    </p>



                </div>

            </article>
    </section>

    <section class="container mt-5">
        <article class="row index">
            <div class="col">

                <h4 class="mt-3 text-decoration-underline">Admissions & Aid</h4>

                <p class="mt-3">
                    Graduate Admissions
                    Our faculty and students study, teach, and learn in and across more than 180 programs regularly
                    recognized as being
                    among the nation’s best. All nine of our academic divisions offer full-time graduate programs.
                </p>

                <p>
                    Johns Hopkins is Maryland’s largest private employer, and our multitude of unique and varied career
                    options are anything
                    but “academic.” Our employees serve in areas as diverse as individualized health,
                </p>

            </div>

            <div class="col mt-3">

                <img src="/images/school1.jpg" alt="" class="rounded" width="585" height="340">

            </div>
        </article>
    </section>
    <br><br><br>
    <%- include("./partials/bottom.ejs") %>